{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock %}
    {% block cssImports %}
{#        <link rel="stylesheet" href="{% static 'index.css' %}">#}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card p-4 ">
                <h3 class="card-title" >LOGIN</h3>
                <div class="card-body">
                    <form method="POST" action="" >
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            <input type="text" name="username" placeholder="username" class="form-control"  />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            <input name="password" type="password" placeholder="password" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            {% for message in messages %}
                                <p class="text-warning p-2 rounded" >{{ message }}</p>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <a href="{% url 'register' %}" class="link-info" >Not Registered Yet?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>