{% load static %}
{% load bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock title %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

</head>
<body>
{% bootstrap_javascript %}
<h1>COCO</h1>
    {% block body %}
    {% endblock body %}
</body>
</html>