{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
</head>
<body>
{% block body %}
<div class="container">
    <table class="table table-striped ">
      <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Project</th>
            <th scope="col">Developer</th>
            <th scope="col">Comments</th>
            <td><button class="btn invisible"></button></td>
        </tr>
      </thead>
      <tbody>
      {% for time in page_obj %}
        <tr>
            <td>{{ time.date }}</td>
            <td>{{ time.time }}</td>
            <td>{{ time.project.title }}</td>
            <td>{{ time.developer.username }}</td>
            <td>{{ time.comments }}</td>
            <td><a href="{% url 'time_logger' '0' %}" class="btn btn-sm btn-warning">Edit</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="{% url 'time_logger' '0' %}">Add</a>
    </div>
    <div class="w-50 mx-auto d-flex justify-content-center">

        <ul class="pagination" >
            {% if page_obj.has_previous %}
{#                <li class="page-item"><a class="page-link" href="{% url 'time_overview' %}?page=1">&laquo; first</a></li>#}
                <li class="page-item"><a class="page-link" href="{% url 'time_overview' %}?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
{#            <li class="page-item"><a class="page-link" href="{% url 'time_overview' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>#}
            <li class="page-item active page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</li>
{#            <li class="page-item"><a class="page-link" href="{% url 'time_overview' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>#}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'time_overview' %}?page={{ page_obj.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'time_overview' %}?page={{ page_obj.paginator.num_pages }}">recent</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="card">
        <span>total time:  {{ time_totals }}</span>
        <span>total time current project: {{ time_totals_project }}</span>
        <span>total time this week: {{ time_totals_week }}</span>
        <span>total time this month: {{ time_totals_month }}</span>
    </div>
</div>

{% endblock %}
</body>
</html>
