{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
</head>
<body>
{% block body %}
<div class="container">
    <table class="table table-striped ">
      <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Project</th>
            <th scope="col">Developer</th>
            <th scope="col">Comments</th>
{#            {% for key, value in times.0.items %}#}
{#                <th scope="col">{{ key }}</th>#}
{#            {% endfor %}#}
            <td><button class="btn invisible"></button></td>
        </tr>
      </thead>
      <tbody>
      {% for time in page_obj %}
        <tr>
            <td>{{ time.date }}</td>
            <td>{{ time.time }}</td>
            <td>{{ time.project.title }}</td>
            <td>{{ time.developer.username }}</td>
            <td>{{ time.comments }}</td>
{#            {% for key, value in time.items %}#}
{#                <td >{{ value }}</td>#}
{#            {% endfor %}#}
            <td><a href="{% url 'time_logger' '0' %}" class="btn btn-sm btn-warning">Edit</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="{% url 'time_logger' '0' %}">Add</a>
    </div>

    <div class="pagination w-50 mx-auto d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'time_overview' %}?page=1">&laquo; first</a>
                <a href="{% url 'time_overview' %}?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="{% url 'time_overview' %}?page={{ page_obj.next_page_number }}">next</a>
                <a href="{% url 'time_overview' %}?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}

</body>
</html>
